.section{
    border: 2px solid rgb(182, 177, 177);
    padding: 10px;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile{
   width: fit-content; 
   height: fit-content;
   padding: 10px;
   background-color: rgb(209 170 170);
   border-radius: 20px;
   margin: 5px 20px;
}